@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* -----------------animated typing---------------- */
.typing::after {
    content: "|";
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes typing {
    0% { width: 0%; }
    100% { width: 100%; }
  }

