.chatBubble {
    max-width: 85%;
    flex: 1 0 50%;
}

.user {
    /* justify-self: end ; */
    align-self: end;
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
}

.animate-breathe div:nth-child(1), .animate-breathe div:nth-child(3) {
    animation: breathe 1s infinite;
}

.animate-breathe div:nth-child(2) {
    animation: breathe 1s 0.5s infinite;
}